{% extends './_wrapper.njk' %}

{% block content %}
<header aria-labelledby="page-title">
    <h1 id="page-title" class="space--margin-bottom-l">{{ title }}</h1>
    {% if introduction %}
    <div class="prose prose--flow space--margin-bottom-l">
        <p class="type-lead">{{ introduction }}</p>
    </div>
    {% endif %}
</header>
{{ content | safe }}
{% endblock %}