---
title: Contact me
layout: default
section_id: contact
eleventyExcludeFromCollections: true
introduction: It’s great you’ve got something to say. I’m all ears…
---
<form name="contact" id="form-contact" class="form contain-flow" method="POST" netlify action="/thanks" netlify-honeypot="pot-o-gold">

  <div class="form-group">
    <label class="form-label" for="name">Your name</label>
    <input type="text" name="name" id="name" class="form-input " aria-describedby="name-hint" value="">
  </div>

  <div class="form-group">
    <label class="form-label" for="email">Your email address</label>
    <div class="form-hint" id="email-hint">I can’t reply without a valid email.</div>
    <input type="text" name="email" id="email" class="form-input" aria-describedby="email-hint" value="">
  </div>

  <div class="form-group">
    <label class="form-label" for="content">Your message</label>
    <textarea class="form-input" name="content" id="content" rows="5" aria-describedby="content-hint"></textarea>
  </div>
  
  <input type="text" name="pot-o-gold" class="visually-hidden" tabindex="-1">

  <button class="form-button">Send message</button>

</form>