---
title: Subjects
layout: default
navigation_id: subjects
eleventyExcludeFromCollections: true
---
<ul class="list list--grid contain-indent">
  {% for tag in collections.tags %}
    <li class="list-item prose">
      <p><a href="/subjects/{{ tag.title | slugify }}/">{{ tag.title | title }}</a><br>{{ tag.count }} {{ 'item' | plural(tag.count) }}</p>
    </li>
  {% endfor %}
</ul>